FileBasedIntegrationSamples/LogicAppSamples/d365_to_oneDrive_logic_app/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "onedriveforbusiness_Connection_Name": {
      "type": "string",
      "defaultValue": "onedriveforbusiness"
    },
    "onedriveforbusiness_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "user@domain.com"
    },
    "office365_Connection_Name": {
      "type": "string",
      "defaultValue": "office365"
    },
    "office365_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "user@domain.com"
    },
    "dynamicsax_Connection_Name": {
      "type": "string",
      "defaultValue": "dynamicsax"
    },
    "dynamicsax_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "user@domain.com"
    },
    "UntilLoopRetryCount": {
      "type": "int",
      "defaultValue": 10,
      "metadata": {
        "description": "Retry count for until loop"
      }
    },
    "D365FOURL": {
      "type": "string",
      "metadata": {
        "description": "URL of Dynamics 365 for Operations instance"
      }
    },
    "DataProject": {
      "type": "string",
      "metadata": {
        "description": "Data project name in Dynamics 365 for Operations"
      }
    },
    "LegalEntity": {
      "type": "string",
      "metadata": {
        "description": "Legal entity from which data is going to be exported from"
      }
    },
    "AlertRecipient": {
      "type": "string",
      "metadata": {
        "description": "Recipient of email alert"
      }
    },
    "OnedriveDownloadFolder": {
      "type": "string",
      "metadata": {
        "description": "Download folder path of your OneDrive for Business for data package"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "If_ExportToPackage_successed": {
              "type": "If",
              "expression": "@not(equals(body('ExportToPackage')?['value'], '00000000-0000-0000-0000-000000000000'))",
              "actions": {
                "If_GetExecutionSummaryStatus_succeeded": {
                  "type": "If",
                  "expression": "@equals(body('GetExecutionSummaryStatus')?['value'], 'Succeeded')",
                  "actions": {
                    "If_GetExportPackageUrl_succeeded": {
                      "type": "If",
                      "expression": "@startsWith(body('GetExportPackageUrl')?['value'], 'https')",
                      "actions": {
                        "Until_package_download_succeeded": {
                          "type": "Until",
                          "expression": "@not(equals(body('Download_zip_file')?['DisplayName'], ''''''))",
                          "limit": {
                            "count": "@parameters('UntilLoopRetryCount')",
                            "timeout": "PT1H"
                          },
                          "actions": {
                            "Download_package": {
                              "type": "Http",
                              "inputs": {
                                "method": "GET",
                                "uri": "@{body('GetExportPackageUrl')?['value']}"
                              },
                              "runAfter": {}
                            },
                            "Download_zip_file": {
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "api": {
                                    "runtimeUrl": "https://logic-apis-southeastasia.azure-apim.net/apim/onedriveforbusiness"
                                  },
                                  "connection": {
                                    "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "path": "/datasets/default/files",
                                "queries": {
                                  "folderPath": "@parameters('OnedriveDownloadFolder')",
                                  "name": "@{body('ExportToPackage')?['value']}.zip"
                                },
                                "body": "@body('Download_package')"
                              },
                              "runAfter": {
                                "Download_package": [
                                  "Succeeded"
                                ]
                              }
                            }
                          },
                          "runAfter": {}
                        },
                        "If_package_download_failed": {
                          "type": "If",
                          "expression": "@not(equals(body('Download_Zip_file')?['DisplayName'], ''''''))",
                          "actions": {},
                          "runAfter": {
                            "Until_package_download_succeeded": [
                              "Succeeded",
                              "Failed"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Alert_package_download_faled": {
                                "type": "ApiConnection",
                                "inputs": {
                                  "host": {
                                    "api": {
                                      "runtimeUrl": "https://logic-apis-southeastasia.azure-apim.net/apim/office365"
                                    },
                                    "connection": {
                                      "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                  },
                                  "method": "post",
                                  "path": "/Mail",
                                  "body": {
                                    "To": "@parameters('AlertRecipient')",
                                    "Subject": "Failed to download package",
                                    "Body": "@concat('Failed to download package for data project ', parameters('DataProject'), ' in legal entity ', parameters('LegalEntity'))"
                                  }
                                },
                                "runAfter": {}
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Until_GetExportPackageUrl_succeeded": [
                          "Succeeded",
                          "Failed"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Alert_GetExportPackageUrl_failed": {
                            "type": "ApiConnection",
                            "inputs": {
                              "host": {
                                "api": {
                                  "runtimeUrl": "https://logic-apis-southeastasia.azure-apim.net/apim/office365"
                                },
                                "connection": {
                                  "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                              },
                              "method": "post",
                              "path": "/Mail",
                              "body": {
                                "To": "@parameters('AlertRecipient')",
                                "Subject": "API GetExportPackageUrl failed",
                                "Body": "@concat('Failed to call API GetExportPackageUrl for data project ', parameters('DataProject'), ' in legal entity ', parameters('LegalEntity'))"
                              }
                            },
                            "runAfter": {}
                          }
                        }
                      }
                    },
                    "Until_GetExportPackageUrl_succeeded": {
                      "type": "Until",
                      "expression": "@not(equals(body('GetExportPackageUrl')?['value'], ''''''))",
                      "limit": {
                        "count": "@parameters('UntilLoopRetryCount')",
                        "timeout": "PT1H"
                      },
                      "actions": {
                        "GetExportPackageUrl": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "api": {
                                "runtimeUrl": "https://logic-apis-southeastasia.azure-apim.net/apim/dynamicsax"
                              },
                              "connection": {
                                "name": "@parameters('$connections')['dynamicsax_1']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "@concat('/datasets/', encodeURIComponent(encodeURIComponent(parameters('D365FOURL'))),'/procedures/', encodeURIComponent(encodeURIComponent('DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExportedPackageUrl')))",
                            "body": {
                              "executionId": "@{body('ExportToPackage')?['value']}"
                            }
                          },
                          "runAfter": {}
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Until_GetExecutionSummaryStatus_succeeded": [
                      "Succeeded",
                      "Failed"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Alert_GetExecutionSummaryStatus_failed": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "api": {
                              "runtimeUrl": "https://logic-apis-southeastasia.azure-apim.net/apim/office365"
                            },
                            "connection": {
                              "name": "@parameters('$connections')['office365']['connectionId']"
                            }
                          },
                          "method": "post",
                          "path": "/Mail",
                          "body": {
                            "To": "@parameters('AlertRecipient')",
                            "Subject": "API GetExecutionSummaryStatus failed",
                            "Body": "@concat('Failed to call API GetExecutionSummaryStatus for data project ', parameters('DataProject'), ' in legal entity ', parameters('LegalEntity'))"
                          }
                        },
                        "runAfter": {}
                      }
                    }
                  }
                },
                "Until_GetExecutionSummaryStatus_succeeded": {
                  "type": "Until",
                  "expression": "@equals(body('GetExecutionSummaryStatus'), 'Succeeded')",
                  "limit": {
                    "count": "@parameters('UntilLoopRetryCount')",
                    "timeout": "PT1H"
                  },
                  "actions": {
                    "Delay_X_seconds_before_status_checking": {
                      "type": "Wait",
                      "inputs": {
                        "interval": {
                          "count": 15,
                          "unit": "Second"
                        }
                      },
                      "runAfter": {}
                    },
                    "GetExecutionSummaryStatus": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "api": {
                            "runtimeUrl": "https://logic-apis-southeastasia.azure-apim.net/apim/dynamicsax"
                          },
                          "connection": {
                            "name": "@parameters('$connections')['dynamicsax_1']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "@concat('/datasets/', encodeURIComponent(encodeURIComponent(parameters('D365FOURL'))),'/procedures/', encodeURIComponent(encodeURIComponent('DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionSummaryStatus')))",
                        "body": {
                          "executionId": "@{body('ExportToPackage')?['value']}"
                        }
                      },
                      "runAfter": {
                        "Delay_X_seconds_before_status_checking": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Until_ExportToPackage_succeeded": [
                  "Succeeded",
                  "Failed"
                ]
              },
              "else": {
                "actions": {
                  "Alert_ExportToPackage_failed": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "api": {
                          "runtimeUrl": "https://logic-apis-southeastasia.azure-apim.net/apim/office365"
                        },
                        "connection": {
                          "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/Mail",
                      "body": {
                        "To": "@parameters('AlertRecipient')",
                        "Subject": "API ExportToPackage failed",
                        "Body": "@concat('Failed to call API ExportToPackage for data project ', parameters('DataProject'), ' in legal entity ', parameters('LegalEntity'))"
                      }
                    },
                    "runAfter": {}
                  }
                }
              }
            },
            "Until_ExportToPackage_succeeded": {
              "type": "Until",
              "expression": "@not(equals(body('ExportToPackage')?['value'], '00000000-0000-0000-0000-000000000000'))",
              "limit": {
                "count": "@parameters('UntilLoopRetryCount')",
                "timeout": "PT1H"
              },
              "actions": {
                "ExportToPackage": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-southeastasia.azure-apim.net/apim/dynamicsax"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['dynamicsax_1']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "@concat('/datasets/', encodeURIComponent(encodeURIComponent(parameters('D365FOURL'))),'/procedures/', encodeURIComponent(encodeURIComponent('DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ExportToPackage')))",
                    "body": {
                      "definitionGroupId": "@parameters('DataProject')",
                      "packageName": "@guid()",
                      "executionId": "@guid()",
                      "reExecute": true,
                      "legalEntityId": "@parameters('LegalEntity')"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {}
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "UntilLoopRetryCount": {
              "type": "int",
              "defaultValue": 24
            },
            "D365FOURL": {
              "type": "string",
              "defaultvalue": ""
            },
            "DataProject": {
              "type": "string",
              "defaultvalue": ""
            },
            "LegalEntity": {
              "type": "string",
              "defaultvalue": ""
            },
            "AlertRecipient": {
              "type": "string",
              "defaultvalue": ""
            },
            "OnedriveDownloadFolder": {
              "type": "string",
              "defaultvalue": ""
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Second",
                "interval": 30
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "onedriveforbusiness": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'onedriveforbusiness')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('onedriveforbusiness_Connection_Name'))]",
                "connectionName": "[parameters('onedriveforbusiness_Connection_Name')]"
              },
              "office365": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]",
                "connectionName": "[parameters('office365_Connection_Name')]"
              },
              "dynamicsax_1": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'dynamicsax')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('dynamicsax_Connection_Name'))]",
                "connectionName": "[parameters('dynamicsax_Connection_Name')]"
              }
            }
          },
          "UntilLoopRetryCount": {
            "value": "[parameters('UntilLoopRetryCount')]"
          },
          "D365FOURL": {
            "value": "[parameters('D365FOURL')]"
          },
          "DataProject": {
            "value": "[parameters('DataProject')]"
          },
          "LegalEntity": {
            "value": "[parameters('LegalEntity')]"
          },
          "AlertRecipient": {
            "value": "[parameters('AlertRecipient')]"
          },
          "OnedriveDownloadFolder": {
            "value": "[parameters('OnedriveDownloadFolder')]"
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('onedriveforbusiness_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('dynamicsax_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('onedriveforbusiness_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'onedriveforbusiness')]"
        },
        "displayName": "[parameters('onedriveforbusiness_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"
        },
        "displayName": "[parameters('office365_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('dynamicsax_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'dynamicsax')]"
        },
        "displayName": "[parameters('dynamicsax_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}