FileBasedIntegrationSamples/LogicAppSamples/oneDrive_to_d365_logic_app/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string"
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "westus2",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "paramdynamicsax_instance": {
      "type": "String",
      "defaultValue": "yourappaos.cloudax.dynamics.com"
    },
    "paramexception_email_id": {
      "type": "String",
      "defaultValue": "user@tenant.com"
    },
    "paramretry_policy_count": {
      "type": "Int",
      "defaultValue": 2
    },
    "dynamicsax_1": {
      "type": "string",
      "defaultValue": "dynamicsax"
    },
    "dynamicsax_1_account": {
      "type": "string",
      "defaultValue": "user@tenant.com"
    },
    "office365_1": {
      "type": "string",
      "defaultValue": "office365"
    },
    "office365_1_account": {
      "type": "string",
      "defaultValue": "user@tenant.com"
    },
    "onedriveforbusiness": {
      "type": "string",
      "defaultValue": "onedriveforbusiness"
    },
    "onedriveforbusiness_account": {
      "type": "string",
      "defaultValue": "user@tenant.com"
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2016-06-01",
      "name": "[parameters('logicAppName')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('dynamicsax_1'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365_1'))]",
        "[resourceId('Microsoft.Web/connections', parameters('onedriveforbusiness'))]"
      ],
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "dynamicsax_instance": {
              "defaultValue": "[parameters('paramdynamicsax_instance')]",
              "type": "String"
            },
            "exception_email_id": {
              "defaultValue": "[parameters('paramexception_email_id')]",
              "type": "String"
            },
            "retry_policy_count": {
              "defaultValue": "[parameters('paramretry_policy_count')]",
              "type": "Int"
            }
          },
          "triggers": {
            "Input_From_OneDrive": {
              "recurrence": {
                "frequency": "Minute",
                "interval": 1
              },
              "metadata": {
                "01ODF5GMY373PVLCNIGFELCJ4S4YWGIHN2": "/LogicAppsIntegration/Demo01/Input"
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/triggers/onnewfile",
                "queries": {
                  "folderId": "01ODF5GMY373PVLCNIGFELCJ4S4YWGIHN2",
                  "inferContentType": true
                }
              }
            }
          },
          "actions": {
            "Add_file_to_D365_Blob_storage": {
              "actions": {
                "Get_Azure_Writable_Url_with_Retry": {
                  "actions": {
                    "Get_Azure_Writable_Url": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "uniqueFileName": "@{body('Move_file_into_processing_folder')?['Id']}"
                        },
                        "host": {
                          "api": {
                            "runtimeUrl": "https://logic-apis-westus2.azure-apim.net/apim/dynamicsax"
                          },
                          "connection": {
                            "name": "@parameters('$connections')['dynamicsax_1']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "@concat('/datasets/', encodeURIComponent(encodeURIComponent(parameters('dynamicsax_instance'))),'/procedures/', encodeURIComponent(encodeURIComponent('DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetAzureWriteUrl')))"
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": "@equals(actions('Get_Azure_Writable_Url').Status, 'Succeeded')",
                  "limit": {
                    "count": "@parameters('retry_policy_count')",
                    "timeout": "PT1M "
                  },
                  "type": "Until"
                },
                "Upload_to_D365_for_Operations_Azure_blob_storage_with_retry": {
                  "actions": {
                    "Upload_to_D365_Azure_Blob_Storage": {
                      "runAfter": {},
                      "type": "Http",
                      "inputs": {
                        "body": "@triggerBody()",
                        "headers": {
                          "Content-Type": "application/octet-stream",
                          "x-ms-blob-type": "BlockBlob",
                          "x-ms-version": "2015-02-21",
                          " x-ms-date": "@utcnow('R')"
                        },
                        "method": "PUT",
                        "uri": "@json(body('Get_Azure_Writable_Url')?['value']).BlobUrl"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_Azure_Writable_Url_with_Retry": [
                      "Succeeded"
                    ]
                  },
                  "expression": "@equals(actions('Upload_to_D365_Azure_Blob_Storage').Status, 'Succeeded')",
                  "limit": {
                    "count": "@parameters('retry_policy_count')",
                    "timeout": "PT1M"
                  },
                  "type": "Until"
                }
              },
              "runAfter": {
                "Move_file_to_processing": [
                  "Succeeded"
                ]
              },
              "type": "Scope"
            },
            "Check_execution_status": {
              "actions": {
                "Check_status_until_import_is_complete": {
                  "actions": {
                    "Delay": {
                      "runAfter": {},
                      "type": "Wait",
                      "inputs": {
                        "interval": {
                          "count": 10,
                          "unit": "Second"
                        }
                      }
                    },
                    "Get_execution_summary_status": {
                      "runAfter": {
                        "Delay": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "executionId": "@{body('Initiate_package_import')?['value']}"
                        },
                        "host": {
                          "api": {
                            "runtimeUrl": "https://logic-apis-westus2.azure-apim.net/apim/dynamicsax"
                          },
                          "connection": {
                            "name": "@parameters('$connections')['dynamicsax_1']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "@concat('/datasets/', encodeURIComponent(encodeURIComponent(parameters('dynamicsax_instance'))),'/procedures/', encodeURIComponent(encodeURIComponent('DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionSummaryStatus')))"
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": "@contains(body('Get_execution_summary_status')?['value'], 'Succeeded')",
                  "limit": {
                    "count": "@parameters('retry_policy_count')",
                    "timeout": "PT1M"
                  },
                  "type": "Until"
                }
              },
              "runAfter": {
                "Initiate_package_import_in_D365_for_Operations": [
                  "Succeeded"
                ]
              },
              "type": "Scope"
            },
            "Handle_exceptions": {
              "actions": {
                "Copy_file_to_exception": {
                  "runAfter": {
                    "Send_an_email": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-westus2.azure-apim.net/apim/onedriveforbusiness"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/default/copyFile",
                    "queries": {
                      "destination": "/LogicAppsIntegration/Demo01/Exception/@{body('Move_file_into_processing_folder')?['Name']}",
                      "overwrite": true,
                      "source": "@{body('Move_file_into_processing_folder')?['Path']}"
                    }
                  }
                },
                "Delete_file_from_processing_folder": {
                  "runAfter": {
                    "Copy_file_to_exception": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-westus2.azure-apim.net/apim/onedriveforbusiness"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                      }
                    },
                    "method": "delete",
                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Move_file_into_processing_folder')?['Id']))}"
                  }
                },
                "Send_an_email": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "Body": "Exception has occurred while processing file@{body('Move_file_into_processing_folder')?['Name']}",
                      "Subject": "Exception has occurred while processing file @{body('Move_file_into_processing_folder')?['Name']}",
                      "To": "@parameters('exception_email_id')"
                    },
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-westus2.azure-apim.net/apim/office365"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['office365_1']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Mail"
                  }
                }
              },
              "runAfter": {
                "Add_file_to_D365_Blob_storage": [
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ],
                "Check_execution_status": [
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ],
                "Handle_execution_result": [
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ],
                "Initiate_package_import_in_D365_for_Operations": [
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "type": "Scope"
            },
            "Handle_execution_result": {
              "actions": {
                "Delete_file_from_processing": {
                  "runAfter": {
                    "Handle_result_of_execution": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-westus2.azure-apim.net/apim/onedriveforbusiness"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                      }
                    },
                    "method": "delete",
                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Move_file_into_processing_folder')?['Id']))}"
                  }
                },
                "Handle_result_of_execution": {
                  "actions": {
                    "Handle_success": {
                      "actions": {
                        "Copy_file_to_success_folder": {
                          "runAfter": {},
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "api": {
                                "runtimeUrl": "https://logic-apis-westus2.azure-apim.net/apim/onedriveforbusiness"
                              },
                              "connection": {
                                "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/datasets/default/copyFile",
                            "queries": {
                              "destination": "/LogicAppsIntegration/Demo01/Success/@{body('Move_file_into_processing_folder')?['Name']}",
                              "overwrite": true,
                              "source": "@{body('Move_file_into_processing_folder')?['Path']}"
                            }
                          }
                        }
                      },
                      "runAfter": {},
                      "type": "Scope"
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Handle_error": {
                        "actions": {
                          "Copy_file_to_error_folder": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                              "host": {
                                "api": {
                                  "runtimeUrl": "https://logic-apis-westus2.azure-apim.net/apim/onedriveforbusiness"
                                },
                                "connection": {
                                  "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                                }
                              },
                              "method": "post",
                              "path": "/datasets/default/copyFile",
                              "queries": {
                                "destination": "/LogicAppsIntegration/Demo01/Success/@{body('Move_file_into_processing_folder')?['Name']}",
                                "overwrite": true,
                                "source": "@{body('Move_file_into_processing_folder')?['Path']}"
                              }
                            }
                          }
                        },
                        "runAfter": {},
                        "type": "Scope"
                      }
                    }
                  },
                  "expression": "@equals(body('Get_execution_summary_status')?['value'], 'Succeeded')",
                  "type": "If"
                }
              },
              "runAfter": {
                "Check_execution_status": [
                  "Succeeded"
                ]
              },
              "type": "Scope"
            },
            "Initiate_package_import_in_D365_for_Operations": {
              "actions": {
                "Until": {
                  "actions": {
                    "Initiate_package_import": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "definitionGroupId": "ImportFlow01",
                          "execute": true,
                          "legalEntityId": "@split(body('Move_file_into_processing_folder')?['Name'], '_')[0]",
                          "overwrite": true,
                          "packageUrl": "@json(body('Get_Azure_Writable_Url')?['value']).BlobUrl"
                        },
                        "host": {
                          "api": {
                            "runtimeUrl": "https://logic-apis-westus2.azure-apim.net/apim/dynamicsax"
                          },
                          "connection": {
                            "name": "@parameters('$connections')['dynamicsax_1']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "@concat('/datasets/', encodeURIComponent(encodeURIComponent(parameters('dynamicsax_instance'))),'/procedures/', encodeURIComponent(encodeURIComponent('DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ImportFromPackage')))"
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": "@equals(actions('Initiate_package_import').Status, 'Succeeded')",
                  "limit": {
                    "count": "@parameters('retry_policy_count')",
                    "timeout": "PT1M"
                  },
                  "type": "Until"
                }
              },
              "runAfter": {
                "Add_file_to_D365_Blob_storage": [
                  "Succeeded"
                ]
              },
              "type": "Scope"
            },
            "Move_file_to_processing": {
              "actions": {
                "Delete_file_from_Input": {
                  "runAfter": {
                    "Move_file_into_processing_folder": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-westus2.azure-apim.net/apim/onedriveforbusiness"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                      }
                    },
                    "method": "delete",
                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerOutputs()['headers']['x-ms-file-id']))}"
                  }
                },
                "Move_file_into_processing_folder": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-westus2.azure-apim.net/apim/onedriveforbusiness"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/default/copyFile",
                    "queries": {
                      "destination": "/LogicAppsIntegration/Demo01/Processing/@{triggerOutputs()['headers']['x-ms-file-name']}",
                      "overwrite": true,
                      "source": "@{triggerOutputs()['headers']['x-ms-file-path']}"
                    }
                  }
                }
              },
              "runAfter": {},
              "type": "Scope"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "dynamicsax_1": {
                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/dynamicsax')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('dynamicsax_1'))]"
              },
              "office365_1": {
                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_1'))]"
              },
              "onedriveforbusiness": {
                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/onedriveforbusiness')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('onedriveforbusiness'))]"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "name": "[parameters('onedriveforbusiness')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/onedriveforbusiness')]"
        },
        "displayName": "[parameters('onedriveforbusiness_account')]",
        "parameterValues": {}
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "name": "[parameters('office365_1')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/office365')]"
        },
        "displayName": "[parameters('office365_1_account')]",
        "parameterValues": {}
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "name": "[parameters('dynamicsax_1')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/dynamicsax')]"
        },
        "displayName": "[parameters('dynamicsax_1_account')]",
        "parameterValues": {}
      }
    }
  ],
  "outputs": {}
}
